<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="login"></ion-back-button>
      </ion-buttons>
      <ion-title>Registro</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <form [formGroup]="registroForm">
      <ion-list>
        <ion-item>
          <ion-label position="stacked">*Nombre</ion-label>
          <ion-input formControlName="nombre" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">*Apellido Paterno</ion-label>
            <ion-input formControlName="apellidoP" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">*Apellido Materno</ion-label>
            <ion-input formControlName="apellidoM" type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">*Correo</ion-label>
            <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="stacked">*Contraseña</ion-label>
            <ion-input formControlName="pass" type="password" (ionBlur)="passwordCheck()"></ion-input>
        </ion-item>
        <ion-item class="errorText" [hidden]="passHideDefault">
            <ion-label color="danger">La contraseña es requerida</ion-label>
        </ion-item>
        <ion-item class="errorText" [hidden]="passHideLength">
            <ion-label color="danger">La contraseña debe tener minimo 8 caracteres</ion-label>
        </ion-item>
        <ion-item class="errorText" [hidden]="passHideLowerCase">
            <ion-label color="danger">La contraseña no tiene un caracter en minuscula</ion-label>
        </ion-item>
        <ion-item class="errorText" [hidden]="passHideUpperCase">
            <ion-label color="danger">La contraseña no tiene un caracter en mayuscula</ion-label>
        </ion-item>
        <ion-item class="errorText" [hidden]="passHideNotNumber">
            <ion-label color="danger">La contraseña no tiene un numero</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">*Confirmar Contraseña</ion-label>
          <ion-input formControlName="passCheck" type="password" (ionBlur)="confirmPasswordCheck()"></ion-input>
        </ion-item>
        <ion-item class="errorText" [hidden]="passCheckHide">
            <ion-label color="danger">{{passCheckError}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">*Fecha de Nacimiento</ion-label>
          <ion-datetime formControlName="fecha" (ionChange)="ageConfirm()"></ion-datetime>
        </ion-item>
        <ion-item class="errorText" [hidden]="fechaHide">
          <ion-label color="danger">{{fechaError}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Código Postal</ion-label>
          <ion-input formControlName="codigoPostal" type="text" maxlength="5"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Telefono</ion-label>
          <ion-input formControlName="telefono" type="number"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Genero</ion-label>
        </ion-item>
        <ion-item>
          <div class="generoButtons">
            <ion-segment formControlName="genero">
              <ion-segment-button value="1">
                <ion-label>Mujer</ion-label>
                <ion-icon name="woman"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="2" checked>
                <ion-label>Hombre</ion-label>
                <ion-icon name="man"></ion-icon>
              </ion-segment-button>
              <ion-segment-button value="3">
                <ion-label>Otro</ion-label>
                <ion-icon name="person"></ion-icon>
              </ion-segment-button>
            </ion-segment>
          </div>
        </ion-item>
        <ion-item button="true">
          <ion-label>Registrar tarjeta física</ion-label>
          <ion-icon name="arrow-dropright"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Código de Amigo</ion-label>
          <ion-input formControlName="codigoAmigo" type="text" (ionBlur)="codigoAmigoConfirm()"></ion-input>
        </ion-item>
        <ion-item class="errorText" [hidden]="codigoHide">
          <ion-label color="danger">El código ingresado no es valido</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Quiero recibir notificaciones  </ion-label>
          <ion-toggle formControlName="notification" checked></ion-toggle>
        </ion-item>
        <ion-item class="checkboxFieldLink">
          <ion-row>
            <ion-col>
              <div>
                <ion-checkbox checked="false" formControlName="accept"></ion-checkbox>
              </div>
            </ion-col>
            <ion-col class="itemCenter">
              <div>
                <ion-label (click)="goToTerminos()" class="underlineLink">Acepto Términos y Condiciones</ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
        <ion-item class="checkboxFieldLink">
          <ion-row>
            <ion-col>
              <div>
                <ion-checkbox checked="false" formControlName="warning"></ion-checkbox>
              </div>
            </ion-col>
            <ion-col class="itemCenter">
              <div>
                <ion-label (click)="goToAvisos()" class="underlineLink">Aviso de Privacidad</ion-label>
              </div>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
      <div class="registroFormButtons">
        <ion-button class="registroButton" expand="full" (click)="regirtro()" [disabled]="!registroForm.valid">Registrarme</ion-button>
      </div>
    </form>
  </ion-content>
  